# Virtual environment
venv

# Cache
accounts/__pycache__
face_auth/__pycache__
accounts/__init__
face_auth/__init__

# Migrations
accounts/migrations/

# User images
user_faces/

# Database
db.sqlite3
